html
{
    background-image: url("Images/N.jpg");
    background-size: cover;


}



.centered 
{
    position: fixed;
    top: 50%;
    left: 45%;
    margin-top: -50px;
    margin-left: -100px;
    border: 1px solid black;
}
