.centered 
{
    position: fixed;
    top: 50%;
    left: 45%;
    margin-top: -50px;
    margin-left: -100px;
    border: 1px solid black;
}

.background
{
    background-image: url("Images/N.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}