html { 
    background: url(https://www.creativeuncut.com/gallery-30/art/dff-all-heroes.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.BaijianDivMiddle{
border:5px solid rgba(128, 148, 170, 0.185);
position: absolute; 
left: 500px; 
top: 200px;
}
