html { 
    background: url(https://scontent-iad3-1.cdninstagram.com/vp/0a4533c94abea9b6c6d3b0bcfd3c1772/5DECB06D/t51.2885-15/e15/26864499_140282016665211_6474523895750721536_n.jpg?_nc_ht=scontent-iad3-1.cdninstagram.com) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.BaijianDivMiddle{
border:5px solid rgba(128, 148, 170, 0.185);
position: absolute; 
left: 500px; 
top: 200px;
}
