p 
{
  color: black;
  font-family: 'Titillium Web';
  font-size: 15px;
}

h1
{
    text-align:center;
    color: black;
    font-family: 'Titillium Web';
    font-size: 25px;
}

h2
{
    color: black;
    font-family: 'Titillium Web';
    font-size: 15px;
    margin-top: 0.1em;
  margin-bottom: 0.1em;
}

body
{
    background-color: aqua;
}

div.a
{
    padding: 10px 410px 100px 450px;
}

div.b
{
    padding: 30px;
    background-color: white;
    border-style:solid;
    border-width: 5px;
    border-color:black;
}

text
{
  color: black;
  font-family: 'Roboto Mono';
  font-size: 15px;
}

input[type=inputtext] 
{
  color: black;
  font-family: 'Roboto Mono';
  font-size: 15px;
}

input[type=password] 
{
  display: block;
  color: black;
  font: .6rem 'Roboto Mono';
  font-size: 15px;
}

input[type=date] 
{
  color: black;
  font-family: 'Roboto Mono';
  font-size: 15px;
}

input [type=button]
{
  color:black;
  font-family:'Titillium Web';
  font-size: 15px;
}

input[type=submit] 
{
  color: black;
  font-family: 'Titillium Web';
  font-size: 15px;
}

select
{
  color:black;
  font-family:'Roboto Mono';
  font-size: 15px;
  width: 250px;
}

option
{
  color:black;
  font-family:'Roboto Mono';
  font-size: 15px;
}